.formulir{
    padding:5% 20%;
}
.navbar{
    background-color: #0D6EFD;
}
.navbar-brand{
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}
.formulir{
    margin: 10px;
}
.title{
    font-weight: bold;
}
.showTotal{
    font-weight: bold;
}